# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Data Persistence file
*.dat

# Third-parties source code folder (should be unzip manually)
SharedThirdParties/gmp-6.0.0/
SharedThirdParties/m4-1.4.1/
SharedThirdParties/mpfr-3.1.3/
SharedThirdParties/mpfrc++-3.6.2/
SharedThirdParties/mpfrc++/

# Executable file 1
TestMatrixOperator/Debug/TestMatrixOperator

# Executable file 2
TestEvaluator/Debug/TestEvaluator

# Executables
*.exe
*.out
*.app
run_test_operator.sh
run_test_evaluator.sh
gdb_test_operator.txt
gdb_test_evaluator.txt

# Output files
GateApproximationApp/Debug/*.txt
GateApproximationApp/Debug/IntermediateLog*

# Third parties artifact
SharedThirdParties/gmp
SharedThirdParties/m4
SharedThirdParties/mpfr

# Misc metadata
.metadata

