# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Data Persistence file
*.dat

# Executable file 1
TestMatrixOperator/Debug/TestMatrixOperator

# Executable file 2
TestEvaluator/Debug/TestEvaluator

# Executables
*.exe
*.out
*.app
run_test_operator.sh
run_test_evaluator.sh
gdb_test_operator.txt
gdb_test_evaluator.txt

# Output files
GateApproximationApp/Debug/*.txt

# Misc metadata
.metadata

